.start{
    width: 1140px;
    height: 50px;
    background-color:blanchedalmond;
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: cornflowerblue;
    padding-top: 25px;
  
  
}

button{
    font-size: 32px;
    background-color: aquamarine;
    border: none;
    width: 100%;
    

}
.start:hover{
    background-color: rgb(255, 0, 212);
    transition: 1s;

}
.flot{
    width: 1140px;
    display: flex;
    justify-content: space-between;
}
#table{
    width: 200px;
    font-weight: bold;
    background-color:cyan;
    /* margin-top: 5px; */
    
}
 #name{
    position: relative; 
}

 #spanDate{
    visibility: hidden;
    position: absolute;
    top: -5px;
    right: 0px;
    border: 1px solid black;

 }
 #name:hover #spanDate{
     visibility: visible;
 }
 
 td{
     border: 1px solid black;
 }


.bgblack{
    width: 700px;
    height: 450px;
    background-color: black;
    margin: auto;
    position: relative;
    
}


#catch{
    border: 1px solid blue;
    background-color:tomato;
    color:white;
    text-align: center;
    width: 85px;
    height: 25px;
    position: absolute;
    /* padding: 5px; */
    
}
   
    
     

@keyframes catchanim{
    100%   {
         transform: rotate(360deg);
     }
}
